@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
    --cyan: hsl(179, 62%, 43%);
    --cyan-52: hsl(179, 47%, 52%);
    --brightyellow: hsl(71, 73%, 54%);
    --lightgray: hsl(204, 43%, 93%);
    --grayishblue: hsl(218, 22%, 67%);
}
html {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}
*,
:after,
:before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    background-color: whitesmoke;
    letter-spacing: 0.03em;
    overflow-x: hidden;
}

h1 {
    color: var(--cyan);
    font-size: 25px;
}

h2 {
    color: var(--brightyellow);
    font-size: 18px;
}
h3 {
    margin-bottom: 0.5em;
}
.card_head_description {
    color: var(--grayishblue);
}

.card {
    margin: 5em auto;
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.card_head {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 200px;
    padding: 2em;
}
.card_body {
    display: flex;
    flex-direction: row;
    height: 250px;
}

.card_body_suscription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
    background-color: var(--cyan);
    color: white;
    width: 50%;
    height: 100%;
    border-radius: 0px 0px 0px 10px;
}

.dolar {
    font-size: 30px;
}

.card_body_whyUs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
    background-color: var(--cyan-52);
    color: white;
    width: 50%;
    height: 100%;
    border-radius: 0px 0px 10px 0px;
}

.card_body_whyUs > p {
    font-size: 12px;
}

button {
    background-color: var(--brightyellow);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    border: 0px solid #000000;
}

.attribution {
    margin: 5em;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
